{% extends 'base.html' %} <!-- наследование от 'base.html' -->

{% block title %}{{ post.title_tag }}{% endblock %} <!-- Блок в котором будет отображаться название поста в имени вкладки -->

{% block content %}

<h1>{{ post.title }}</h1> <!-- Цикл for здесь не исп. т.к. мы исп. view DetaiView, а на главной страницы список из постов ListView -->
    <small>
        By: {{post.author.first_name}} {{post.author.last_name}}
         - {{post.post_date}}
    {% if user.is_authenticated %}
       - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
    {% endif %}
    </small> <br/>
<hr>
<br/>
{{post.body}}
<br/><br/>
<a href='{% url "home" %}' class="btn btn-secondary">Back</a> <!-- Ссылка для возвращения на главную страницу -->

{% endblock %}